.welcome-page {
  font-family: 'Arial', sans-serif;
  flex: 1;
  font-family: sans-serif;
  min-height: 100vh;
}

.header-content {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.header-content h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
}

.menu-section nav ul li:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

.description, .team-presentation {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

footer {
  background-color: #f8f8f8;
  padding: 8px;
  text-align: center;
  width: 100%;
  margin-top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 12px;
}

